body {
 background-image: url("images/punainentausta.jpg");
color: black
}
h1 {
 border: 4px solid yellow; 
 font-size: 20px;
}
h2 {
  border: 3px dotted orange;
}
p {
  background-color: rgba(218, 35, 49, 0.28);
 color: green;
  font-size: 12px;
}
.myDiv {
  border-style: dotted;
  border-width: 2px;
  color: white;
  height: 100px;
  width: 100px;
}
ol {
  list-style-type: lower-alpha;
}
ul {
  list-style-type: square;
}
