body {
 background-image: url("images/punainentausta.jpg");
color: black
}
h1 {
  font-size: 20px;
}
p {
  color: green;
  font-size: 12px;
}
.myDiv {
  border-style: dotted;
  border-width: 2px;
  color: white;
  height: 100px;
  width: 100px;
}
ol {
  list-style-type: lower-alpha;
}
ul {
  list-style-type: square;
}
