body {
 background-image: url("images/punainentausta.jpg");
  background-repeat: no-repeat;
 background-size: 100% 100%;
color: black;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #255770;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 30%;
 height: 350px;
  background: #9fcbe0;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
 height: 90%;
  background-color: #e4f1f7;
}

a:hover {
  color: red;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #255770;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

